---
layout: page
permalink: /categories/
title: Categories
---

{%- assign date_format = site.minima.date_format | default: "%b. %-d %Y" -%}
{% assign sorted_cat = site.categories | sort %}

<div class="tags-content">

    <div class="tags-list">
        {% for cat in sorted_cat %}
        <a class="tag" href="#{{ cat[0] | slugify }}">
            {{ cat[0] }}
        </a>
        {% endfor %}
    </div>
    <div class="tags-section">

        {% for cat in sorted_cat %}
            
            <h2 id="{{ cat[0] | slugify }}">{{ cat[0] }}</h2>
            
            <ul class="tags-posts">

                {% for post in cat[1] %}

                    <li>
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            {{ post.date | date: date_format }} | {{ post.title }}
                        </a>
                    </li>

                {% endfor %}

            </ul>

        {% endfor %}
    </div>

</div>
