/* Colors  */

//Layout colors
$primary: #494DBA;
$lowCNLight: #DCDEE9;
$midCNLight: rgba(114, 122, 133, 0.6);
$highCNLight: #383D47;

//Interactive colors
$secondary: #F87C48;
$secondaryLight: #FF986D;
$secondaryDark: #E1622B;

//Cognitive colors
$success: #43C459;
$error: #FF5273;
$info: #FECB2F;
$disabled: #C4C3C5;

//Background colors
$lightBg: #F1F3F5;
$darkBg: #383D47;


/* Devices size */

$mobileW: 414px;
$smallMobileW: 320px;
$tabletW: 768px;
$largeTabletW: 1024px;

/* Paragraphs truncation */
$maxLines: 3;
$lineHeight: 22px;