/* Colors  */

//Layout colors
$primary: #494DBA;
$lowCNLight: #DCDEE9;
$midCNLight: #727A85;
$highCNLight: #383D47;

//Interactive colors
$secondary: #F87C48;
$secondaryLight: #FF986D;
$secondaryDark: #E1622B;

//Cognitive colors
$success: #43C459;
$error: #FF5273;
$info: #FECB2F;
$disabled: #C4C3C5;

//Background colors
$lightBg: #F1F3F5;
$darkBg: #383D47;


/* Devices size */

$mobileW: 768px;
$smallMobileW: 480px;
$tabletW: 1024px;