.container {

    display: block;

    //position: relative;

    //width: 40vw;

    margin: auto;


    justify-items: center;
    text-align: center;

    animation-name: bounceInDown;
    animation-duration: .75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    @media screen and (max-width: $mobileW) {
      animation-name: bounceInLeft;
    }

    .nf-title {
        font-size: 8em;

        color: $error;

        margin: 0 0 10px;

        @media screen and (max-width: $mobileW) {
          font-size: 6em;
        }

        @media screen and (max-width: $smallMobileW) {
          font-size: 3em;
        }
    }

    .nf-content {
        font-size: 1.6em;

        color: $error;
        opacity: .8;

        margin: 0 0 70px;

        @media screen and (max-width: $smallMobileW) {
          font-size: 1em;
        }
    }

    .home-link {
        text-decoration: none;

        padding: 12px 60px;
        background-color: rgba(240, 242, 244, .7);

        font-family: 'Open Sans', sans-serif;


        color: $success;
        opacity: .8;

        border: 2px solid $success;
        border-radius: 20px;

        transition-property: background-color, color;
        transition-duration: .5s;
        transition-timing-function: ease;

        @media screen and (max-width: $smallMobileW) {
          padding: 8px 40px;
          font-size: .8em;
        }
    }

    a:visited {
        color: $success;
    }

    a:hover {
        background-color: $success;

        color: white;
    }
}

/** Animations **/

@keyframes bounceInDown {
    /*
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }*/
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }