.no-posts {
    white-space: nowrap;

    font-size: 38px;
    font-family: 'Noto Sans JP', sans-serif;

    color: $highCNLight;

    @media screen and (max-width: $tabletW) {
        font-size: 36px;
    }

    @media screen and (max-width: $mobileW) {
        font-size: 30px;
    }

    @media screen and (max-width: $smallMobileW) {
        font-size: 22px;
    }

    @media screen and (max-width: 320px) {
        font-size: 18px;   
    }
}