.box {
    //display: flex;
    
    //flex-direction: column;

    //height: 100%;
    width: 80%;
    
    margin: 0;
    padding: 0;

    .home-title {
        display: block;

        font-size: 30px;
        font-family: 'Noto Sans JP', sans-serif;

        text-transform: uppercase;

        font-weight: 300;

        margin: 40px 80px 0;
        padding-bottom: 10px;

        border-bottom: 1px solid $midCNLight;

        @media screen and (max-width: $smallMobileW) {
            margin: 40px 40px 0;
        }
    }
}

.post-feed {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    
    justify-content: space-evenly;

    align-items: center;

    //background-color: green;
    //height: 100vh;
    //width: 80%;
    margin: 0;
    padding: 60px 80px;

    @media screen and (max-width: $smallMobileW) {
        padding: 60px 0;
    }
}

.post-card {
    display: flex;

    flex: 1 1 auto;

    overflow: hidden;


    cursor: pointer;

    background: white;

    min-height: 300px;
    width: 350px;

    border-radius: 5px;

    box-shadow: 8px 14px 38px rgba(39,44,49,.09), 1px 3px 8px rgba(39,44,49,.06);
    transition: all .5s;

    margin: 0 20px 60px;

    /*
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    */
    @media screen and (max-width: $smallMobileW) {
        padding: 10px 13px;
        margin-bottom: 30px;
    }

    .post-content {
        display: flex;

        width: 100%;

        flex-direction: column;

        margin: 0;
        padding: 3vh 2vw;

        .post-title {
            //margin-top: 0;

            font-size: 28px;

            transition: opacity .3s;

            margin-top: 0;

            @media screen and (max-width: $tabletW) {
                font-size: 25px;
            }

            @media screen and (max-width: 320px) {
                font-size: 18px;
            }
        }

        .post-title:hover {
            opacity: .8;
        }

        .post-date {
            text-align: right;
        }

        .post-excerpt {
            line-height: 26px;

            
           
            
            text-overflow: ellipsis;

            @media screen and (max-width: $tabletW) {
                line-height: 22px;
            }

            p {
                margin-top: 20px;
                margin-bottom: 0;
                font-size: 15px;

                @media screen and (max-width: $tabletW) {
                    font-size: 14px;
                }

                @media screen and (max-width: 320px) {
                    font-size: 13px;
                }
            }
        }
    }

}

.post-card:last-child {
    margin-bottom: 0;
}

.post-meta {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: 8px 0 0;
}

.post-categories {
    display: flex;

    flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 0;

    li {
        @media screen and (max-width: $smallMobileW) {
            //margin-bottom: 20px;
        }
    }
}

.tag {
    text-decoration: none;
    color: inherit;

    font-size: 13px;
    

    font-family: 'Open Sans', sans-serif;

    border-radius: 2px;
    margin-right: 10px;
    text-transform: capitalize;

    background-color: #c7ecee;
    color: $highCNLight;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;

    padding: 6px 18px;

    z-index: 300;

    @media screen and (max-width: $tabletW) {
        font-size: 14px;               
    }

    @media screen and (max-width: $smallMobileW) {
        font-size: 12px;               
    }

    @media screen and (max-width: 320px) {
        font-size: 11px;
    }
}

.tag:hover {
    //background-color: $midCNLight;
    box-shadow: 0 0 20px rgba(30, 30, 30, .2) inset;
    //color: $lowCNLight;
    opacity: .9;
}

.post-date {
    font-size: 12px;
    float: right;

    color: $midCNLight;
    font-family: 'Open Sans', sans-serif;

    white-space: nowrap;

    @media screen and (max-width: 320px) {
        font-size: 10px;
    }
}

.post-card:hover {
    box-shadow: 0 0 1px rgba(39,44,49,0.10), 0 3px 16px rgba(39, 44, 49,0.07);
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
}

/** Animations **/

@keyframes scaleUp {
    0% {
        transform: scale(0.3);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}