.box {

    overflow-y: scroll;
    margin: 0;

    @media screen and (max-width: $mobileW) {
        width: auto;
        overflow: hidden;
    }

    .post-container {
        padding: 40px 60px;

        @media screen and (max-width: $smallMobileW) {
            padding: 20px 30px;
        }
    }

    .post-header {

        .post-title {
            margin-top: 0;
            font-size: 3.2rem;
            font-weight: 300;

            @media screen and (max-width: $smallMobileW) {
                font-size: 1.8rem;
            }
        }

        .post-meta {
            margin: 50px 0 40px;

            .post-categories {
                li {
                    @media screen and (max-width: 1024px) {
                        margin-bottom: 22px;
                    }

                    @media screen and (max-width: $smallMobileW) {
                        margin-bottom: 18px;
                    }
                }

                li:last-child {
                    @media screen and (max-width: $smallMobileW) {
                        //margin-bottom: 0;
                    }
                }
            }

            .post-date {
                font-size: 14px;

                @media screen and (max-width: $smallMobileW) {
                    font-size: 10px;
                }
            }
        }
    }

    .post-content {
        font-size: 1.1em;
        line-height: 2em;

        //margin-top: 50px;

        @media screen and (max-width: $smallMobileW) {
            font-size: .9rem;
            text-align: justify;
        }
    }
}