.box {

    background: none;

    //display: block;

    overflow-y: scroll;
    margin: 0;
    
    width: 80vw;

    @media screen and (max-width: $mobileW) {
        width: auto;
        overflow: hidden;
        //height: 100%;
    }

    @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
        width: 70vw;
    }

    .post-container {
        padding: 40px 60px;

        @media screen and (max-width: $mobileW) {
            padding: 20px 30px;
        }

        @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
            padding: 40px 30px;
        }
    }

    .post-header {

        .post-title {
            margin-top: 0;
            font-size: 3.2rem;
            font-weight: 300;

            @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
                font-size: 1.8rem;
            }

            @media screen and (max-width: $mobileW) {
                font-size: 1.2rem;
            }

            @media screen and (max-width: $smallMobileW) {
                font-size: 1rem;
            }
        }

        .post-meta {
            margin: 50px 0 40px;

            @media screen and (max-width: $mobileW) {
                margin-top: 30px;
            }

            .post-categories {
                li {
                    margin-bottom: 0;
                }

                li:last-child {
                    @media screen and (max-width: $mobileW) {
                        //margin-bottom: 0;
                    }
                }
            }

            .post-date {
                font-size: 14px;

                @media screen and (max-width: $mobileW) {
                    font-size: 10px;
                }
            }
        }
    }

    .post-content {
        font-size: 1.1em;
        line-height: 2em;

        //margin-top: 50px;

        @media screen and (max-width: $mobileW) {
            font-size: .9rem;
            text-align: justify;
        }

        @media screen and (max-width: $smallMobileW) {
            font-size: .8rem;
            text-align: justify;
        }
    }
}