.box {
    width: 80vw;
    
    margin: 0;
    padding: 0;

    .home-title {
        font-size: 30px;
        font-family: 'Noto Sans JP', sans-serif;

        text-transform: uppercase;

        font-weight: 300;

        margin: 40px 80px 0;
        padding-bottom: 10px;

        border-bottom: 1px solid $midCNLight;

        @media screen and (max-width: $mobileW) {
            margin: 40px 40px 20px;
            font-size: 24px;
        }
    }
}

.post-feed {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    
    justify-content: space-evenly;

    align-items: center;

    margin: 0;

    padding: 60px 80px;

    @media screen and (max-width: $mobileW) {
        padding: 0;
    }

    @media screen and (max-width: $largeTabletW) {
        //flex-direction: column;
        //flex-wrap: nowrap;
    }

    @media screen and (max-width: $largeTabletW) and (min-width: $tabletW) {
        padding: 40px 40px;
    }
}

.post-card {
    display: flex;

    //flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    //overflow: hidden;

    cursor: pointer;

    background: white;

    height: auto;
    width: auto;

    border-radius: 5px;

    box-shadow: 8px 14px 38px rgba(39,44,49,.09), 1px 3px 8px rgba(39,44,49,.06);
    transition: box-shadow .5s;

    margin: 0 20px 60px;

    /*
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    */

    @media screen and (max-width: $smallMobileW) {
        //width: 250px;
        width: auto;
    }

    @media screen and (max-width: $mobileW) {
        margin-bottom: 30px;
        height: 220px;
        width: 320px;
    }

    @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
        max-width: none;
        //min-height: 200px;
        height: auto;
        width: auto;
    }

    .post-content {
        //display: flex;

        //width: inherit;

        //flex-direction: column;

        margin: 0;
        padding: 3vh 2vw;

        @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
            padding: 20px 30px;
        }

        @media screen and (max-width: $mobileW) {
            padding: 20px 20px 10px;
        }

        .post-title {
            //margin-top: 0;

            font-size: 28px;

            transition: opacity .3s;

            margin-top: 0;

            @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
                font-size: 22px;
            }

            @media screen and (max-width: $mobileW) {
                font-size: 18px;
            }
        }

        .post-title:hover {
            opacity: .8;
        }

        .post-date {
            text-align: right;
        }

        .post-excerpt {
            //line-height: 26px;
            
            text-overflow: ellipsis;

            @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
                //line-height: 22px;
            }

            @media screen and (max-width: $mobileW) {
                line-height: 18px;
            }

            p {
                margin-top: 20px;
                margin-bottom: 0;
                font-size: 15px;

                @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
                    font-size: 14px;
                }

                @media screen and (max-width: $mobileW) {
                    font-size: 12px;
                    max-width: 300px;
                }
            }
        }
    }

}

.post-meta {
    display: flex;

    justify-content: space-between;
    align-items: flex-end;

    margin: 8px 0 0;
}

.post-categories {
    display: flex;

    flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 0;

    li {
        @media screen and (max-width: $smallMobileW) {
            //margin-bottom: 20px;
        }
    }
}

.tag {
    text-decoration: none;
    color: inherit;

    font-size: 13px;
    

    font-family: 'Open Sans', sans-serif;

    border-radius: 2px;
    margin-right: 10px;
    text-transform: capitalize;

    background-color: #c7ecee;
    color: $highCNLight;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;

    padding: 6px 18px;

    z-index: 300;

    @media screen and (min-width: $tabletW) and (max-width: $largeTabletW) {
        font-size: 14px;               
    }

    @media screen and (max-width: $mobileW) {
        font-size: 10px;
        padding: 4px 14px;          
    }
}

.tag:hover {
    //background-color: $midCNLight;
    box-shadow: 0 0 20px rgba(30, 30, 30, .2) inset;
    //color: $lowCNLight;
    opacity: .9;
}

.post-date {
    font-size: 12px;
    float: right;

    color: $midCNLight;
    font-family: 'Open Sans', sans-serif;

    white-space: nowrap;

    @media screen and (max-width: $mobileW) {
        font-size: 10px;
    }
}

.post-card:hover {
    box-shadow: 0 0 1px rgba(39,44,49,0.10), 0 3px 16px rgba(39, 44, 49,0.07);
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
}

/** Animations **/

@keyframes scaleUp {
    0% {
        transform: scale(0.3);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}